{% extends 'base.html.twig' %}

{% block title %}
  Hello AfficherProfilleController!
{% endblock %}

{% block body %}
  <div class="d-flex flex-column position-absolute top-50 start-50 translate-middle">
    <div class="d-flex align-items-center justify-content-between">
      <h1 class="mb-5">
        {{name}}
      </h1>
      <p>
        Niveau : {{ level }} / <b class="text-danger">{{ ptsmaitrise }}</b> Points de maitrises totaux.
      </p>
    </div>

    <div class="d-flex px-3 justify-content-between">
      {% for champions in champion %}
        <div>
          <h3 class="text-center mb-3">
            {{ champions.nom }}
          </h3>
          <img src="{{ champions.image }}" alt="" />
          <p class="text-center mt-4">
            <b class="text-danger">{{ champions.masteries }}</b> points de maîtrises.
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
